* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

body {
    background-color: rgb(73, 156, 73);
}

#container {
    max-width: 720px;
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 0vw 2vw 2vw 2vw;
    background-color: rgb(30, 58, 30);
}

#header {
    text-align: center;
    background-color: rgb(73, 156, 73);
}

#survey-form {
    margin: 1vw 1vw 1vw 1vw;
}

.form-control {
    display: block;
    background-color: white;
    color: black
}

.form-group {
    margin-top: 2vw;
    margin-bottom: 1.5vw;
}

#name-label {
    display: flex;
    flex-direction: row;
}

#email-label {
    display: flex;
    flex-direction: row;
}

#number-label {
    display: flex;
    flex-direction: row;
}

.question {
    margin-top: 8px;
    margin-bottom: 8px;
}

label {
    display: flex;
}

#comments {
    color: gray;
}

#submit {
    background-color: rgb(150, 35, 173);
}